<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="Cadastro" content="width=device-width, initial-scale=1.0">
</head>
  <body>
    <title>Cadastro</title>
    <div id="cabecalho">
      <h1>CABECALHO</h1>
    </div>
    <div id="areaCadastro">
      <div id="entradaDados">
        <input type="email" placeholder="Email" id="email"><br>
        <input type="password" placeholder="Senha" id="senha"><br>
      </div>
      <div id="buttons">
        <button id="Cadastrar" name="cadastrar" >Cadastrar</button>
      </div>
    </div>
  </body>
</html>
